langchain
langchain-groq
langchain-google-genai
langchain-ollama
langchain-community
langchain-redis
python-dotenv
fastembed 
sentence-transformers>=3.0
litellm[proxy]
langchain-openai
sounddevice
soundfile
numpy
edge-tts
faster-whisper
python-dotenv
rank-bm25
unidecode